<button *ngIf="button" class="btn btn-info" (click)="onButtonClickedEvent()">
  {{ button }}
</button>

<table
  *ngIf="data?.length > 0; else noData"
  class="table table-hover text-center"
>
  <thead class="thead-light">
    <th class="no-bg"></th>
    <th *ngFor="let column of columns">{{ column.description }}</th>
  </thead>
  <tbody>
    <tr
      *ngFor="let object of data; let objectIndex = index"
      (click)="onRowClickedEvent(object)"
    >
      <th></th>
      <td
        *ngFor="let key of object | keys; let keyIndex = index"
      >
        {{ getItemByKeyName(objectIndex, keyIndex) }}
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noData>
  <p class="text-center">No hay registros disponibles para mostrar</p>
</ng-template>
